<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Quizo Html Template</title>
        <link rel="stylesheet" href="./questions/style.css" />
    </head>
    <body>
        <main class="content">
            <form>
                <!-- Form content here. -->
                <div class="form-content"></div>
                <div class="button-container">
                    <button id="back-button" class="form-button" type="button">
                        <span>Back</span>
                    </button>
                    <button
                        id="continue-button"
                        class="form-button"
                        type="button"
                    >
                        <span>Continue</span>
                    </button>
                </div>
            </form>
        </main>

        <div class="progress-area">
            <span>0% complete</span>
            <progress value="50" max="100">hj</progress>
        </div>
    </body>
    <script type="module" src="./questions/main.js"></script>
</html>
