/* Base Screen: 1920px */
@import url(../global.css);
.Hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 17px;
    height: 100vh;
    text-align: center;
}
@media (max-width: 1366px) {
    .Hero {
        gap: 10px;
    }
}
@media (max-width: 1024px) {
    .Hero {
        gap: 0px;
    }
}
@media (max-width: 1024px) {
    .Hero {
        gap: 10px;
    }
}
@media (max-width: 414px) {
    .Hero {
        gap: 5px;
    }
}
.Hero .StageText {
    background: linear-gradient(to right, #c729ff, #4c83f4, #1be1fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Alata;
    font-size: 85px;
    width: 60%;
    height: fit-content;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    padding-bottom: 30px;
}
@media (max-width: 1440px) {
    .Hero .StageText {
        line-height: 75px;
    }
}
@media (max-width: 1366px) {
    .Hero .StageText {
        font-size: 75px;
        padding-bottom: 25px;
    }
}
@media (max-width: 1024px) {
    .Hero .StageText {
        line-height: 55px;
        font-size: 60px;
        padding-bottom: 15px;
    }
}
@media (max-width: 912px) {
    .Hero .StageText {
        width: 80%;
        line-height: 65px;
        font-size: 70px;
        padding-bottom: 15px;
    }
}
@media (max-width: 768px) {
    .Hero .StageText {
        width: 90%;
    }
}
@media (max-width: 414px) {
    .Hero .StageText {
        font-size: 50px;
        line-height: 50px;
    }
}
@media (max-width: 360px) {
    .Hero .StageText {
        font-size: 45px;
        line-height: 45px;
    }
}
.Hero .ExplanationText {
    color: var(--text, #dedede);
    width: 50%;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
@media (max-width: 1440px) {
    .Hero .ExplanationText {
        width: 70%;
        line-height: 25px;
    }
}
@media (max-width: 1024px) {
    .Hero .ExplanationText {
        width: 60%;
        font-size: 14px;
        line-height: 20px;
    }
}
@media (max-width: 912px) {
    .Hero .ExplanationText {
        width: 80%;
        font-size: 16px;
    }
}
@media (max-width: 414px) {
    .Hero .ExplanationText {
        width: 85%;
        font-size: 14px;
    }
    .Hero .ExplanationText .Sentence-3 {
        display: none;
    }
}
@media (max-width: 360px) {
    .Hero .ExplanationText {
        font-size: 12px;
    }
    .Hero .ExplanationText .Sentence-2-EndPhrase {
        display: none;
    }
}
.Hero .UploadButton {
    display: flex;
    width: 291.294px;
    aspect-ratio: 4.175419987386;
    padding: 12.239px;
    justify-content: center;
    align-items: center;
    gap: 12.239px;
    border-radius: 7.542px;
    border: 4.714px solid var(--picton-blue, #59a5d8);
    box-shadow: 2.828256845474243px 3.7710092067718506px 0px 0px
        rgba(67, 82, 216, 0.72);
    margin-top: 20px;
    background-color: transparent;
    color: var(--picton-blue, #59a5d8);
    cursor: pointer;
    transition-duration: var(--TransitionSpeed-Fast);
}
.Hero .UploadButton:hover {
    background-color: var(--picton-blue);
    box-shadow: none;
    transform: scale(0.95);
    color: var(--background);
}
@media (max-width: 1024px) {
    .Hero .UploadButton {
        width: 220px;
        gap: 7px;
    }
}
@media (max-width: 912px) {
    .Hero .UploadButton {
        width: 300px;
    }
}
@media (max-width: 414px) {
    .Hero .UploadButton {
        width: 220px;
    }
}
.Hero .UploadButton .UploadButtonText {
    text-align: center;
    font-family: Alata;
    font-size: 20.707px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
@media (max-width: 1024px) {
    .Hero .UploadButton .UploadButtonText {
        font-size: 15px;
    }
    .UploadIcon {
        transform: scale(0.9);
    }
}
@media (max-width: 1024px) {
    .Hero .UploadButton .UploadButtonText {
        font-size: 17px;
    }
    .UploadIcon {
        transform: none;
    }
}
@media (max-width: 414px) {
    .Hero .UploadButton .UploadButtonText {
        font-size: 15px;
    }
}
@media (max-width: 360px) {
    .Hero .UploadButtonText {
        font-size: 12px;
    }
}
