@import url(./fonts.scss);
@import url(./animations.scss);
@import url(./utility.scss);

/* Palette */
:root {
    --background: #131313;
    --bice-blue: #386fa4;
    --indigo-dye: #133c55;
    --non-photo-blue: #91e5f6;
    --picton-blue: #59a5d8;
    --text: #dedede;

    --NavBar-Height: 10vh;

    --TransitionSpeed-Fast: 300ms;
    --TransitionSpeed-Slow: 600ms;
    @media (max-width: 820px) {
        --NavBar-Height: 8vh;
    }
}

/* Layout */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: var(--background);
}

/* Alerts */
.AlertBox {
    position: fixed;
    top: 0;
    max-width: 270px;
    text-align: center;
    border-radius: 8px;
    padding-block: 15px;
    padding-inline: 8px;
    margin-top: 5vh;
    font-family: Lato;
    animation: drop-from-top var(--TransitionSpeed-Slow);
    transition-duration: var(--TransitionSpeed-Slow);
}
.AlertBox.error {
    background-color: rgb(197, 44, 44);
    color: white;
}

.StageText {
    background: linear-gradient(to right, #c729ff, #4c83f4, #1be1fc);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Alata;
    font-size: 85px;
    width: 60%;
    height: fit-content;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    padding-bottom: 30px;
    @media (max-width: 1440px) {
        line-height: 75px;
    }
    @media (max-width: 1366px) {
        font-size: 75px;
        padding-bottom: 25px;
    }
    @media (max-width: 1024px) {
        line-height: 55px;
        font-size: 60px;
        padding-bottom: 15px;
    }
    @media (max-width: 912px) {
        width: 80%;
        line-height: 65px;
        font-size: 70px;
        padding-bottom: 15px;
    }
    @media (max-width: 768px) {
        width: 90%;
        &.analyzed {
            width: 80%;
        }
    }
    @media (max-width: 414px) {
        font-size: 50px;
        line-height: 50px;
    }
    @media (max-width: 360px) {
        font-size: 45px;
        line-height: 45px;
    }
}

.FileBox {
    max-width: 60%;
    font-family: Lato;
    padding-inline: 25px;
    padding-block: 10px;
    border-radius: 0.5rem;
    border: 2px solid var(--bice-blue, #386fa4);
    color: var(--text, #dedede);
}

.Letter {
    color: var(--text, #dedede);
    font-family: Alata;
    font-size: 2.27613rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.Content {
    display: inline-flex;
    color: var(--text, #dedede);
    font-family: Alata;
    font-size: 1.13806rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
